* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
}

.logo-footer {
    height: 100px;
    
}

.footer-names {
align-self: flex-end; 
margin-bottom: 10px;
margin-left: 20px;
font-size: 14px;   
}

.header {
    background-color: #0D0D0D;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #A69576;
}

.search-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #0D0D0D;
}

.main-container {
    display: flex;
    flex-direction: row;
}